<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добро пожаловать &ndash; Городской магазин</title>
</head>
<body>
<h1>Список товаров в супермаркете</h1>
<a data-th-href="@{/catalogue/products/create}">&rAarr;Создать товар</a>
<table>
    <thead>
    <tr>
        <th>id </th>
        <th>Товар</th>
    </tr>
    </thead>
   <tbody>
   <tr data-th-each="product : ${products}">
       <td data-th-text="${product.id}"></td>
       <td>
           <a data-th-href="@{/catalogue/products/{productId}(productId=${product.id})}"
              data-th-text="${product.title}"></a>
       </td>
   </tr>
   </tbody>

</table>

</body>
</html>